@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

* {
  padding: 0;
  margin: 0;
}
*:focus {
  outline: none;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* login */
.login {
  width: 600px;
  margin: 2rem auto;
  text-align: center;
  border: 2px solid rgb(230, 227, 227);
  border-radius: 0.5rem;
}
.login-header {
  background-color: rgb(224, 222, 222);
  padding: 1rem;
}

.login-header h1 {
  font-size: 1.5rem;
  color: #555;
}

.login-header h3 {
  font-size: 1rem;
  color: #666;
}

.avatar-logo {
  width: 120px;
  margin: 2rem 0;
}

.login-form {
  margin: 1rem 0;
}
.login-form h3 {
  font-size: 1.5rem;
  color: #02733e;
  font-weight: 600;
}
.login-form select {
  display: block;
  margin: 10px auto;
  width: 95%;
  height: 40px;
  font-size: 1rem;
  color: #666;
  padding: 0 0.5rem;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

.active {
  display: block;
  width: 95%;
  margin: auto;
  height: 40px;
  font-size: 1.2rem;
  color: #fff;
  background-color: #02733e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  transition: all 250ms ease-in-out;
}
.active:hover {
  box-shadow: none;
}
.notActive {
  display: block;
  width: 95%;
  margin: auto;
  height: 40px;
  font-size: 1.2rem;
  color: #aaa;
  background-color: #02733e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.default-option {
  color: #444;
}

.users-info {
  padding: 1rem;
}
.users-info p {
  margin: 1rem 0 0.5rem;
  font-weight: 600;
  color: #666;
}
.users-avatar {
  display: flex;
  justify-content: space-around;
}
.users-avatar div img {
  width: 40px;
}
.users-avatar div p {
  font-size: 0.8rem;
  font-weight: 600;
}
.avatar {
  width: 30px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #02733e;
}

.link {
  text-decoration: none;
  margin: 0 2rem;
  font-weight: 600;
  color: #02733e;
  padding: 1rem;
  transition: all 250ms ease-in-out;
}
.link:hover {
  background-color: #ddd;
}

.nav-login {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem 1rem;
  align-items: center;
}

.login-data span {
  font-size: 0.9rem;
  font-weight: 600;
}

.login-data .hello {
  font-weight: 400;
  font-size: 1.1rem;
}

.login-data img {
  margin: 0 1rem;
}

.logout {
  border: none;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #fff;
  font-weight: 600;
  color: #02733e;
  cursor: pointer;
  transition: all 250ms ease-in-out;
  margin-left: 2rem;
}
.logout:hover {
  box-shadow: none;
}

.questions {
  border: 1px solid #999;
  width: 600px;
  margin: 25px auto;
}

.questions-switcher {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}

.switcher {
  padding: 10px;
  text-align: center;
  cursor: pointer;
  padding: 10px 25px;
  display: flex;
  flex: 1;
  font-weight: bold;
  color: #777;
}

.active-switcher {
  background-color: #777;
  color: #fff;
  transition: all 250ms ease-in-out;
}

.question {
  width: 90%;
  padding: 1rem;
  border: 1px solid #ddd;
  margin: 1rem;
  border-radius: 5px;
}

.question-header {
  color: #02733e;
  background-color: #ddd;
  padding: 1rem;
  font-weight: bold;
  border-bottom: 2px solid #02733e;
}

.question-data {
  background-color: #fff;
  padding: 1rem;
  display: flex;
}

.question-user-avatar {
  width: 125px;
  border-right: 1px solid #ddd;
  margin-right: 2rem;
}

.question-info p {
  font-size: 0.9rem;
}
.question-info h3 {
  font-size: 1.1rm;
  color: #02733e;
  margin-bottom: 1rem;
}

.question-info h4 {
  color: #02733e;
  font-size: 1rem;
  margin: 5px 0;
}

.question-info button {
  margin-top: 1rem;
  font-size: 0.9rem;
  padding: 5px 25px;
  background-color: #02733e;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.question-date {
  background-color: red;
  display: inline-block;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 0.8rem;
  margin-bottom: -5px;
  margin-left: -5px;
}

.poll {
  width: 600px;
  margin: 2rem auto;
  border: 1px solid #ddd;
  padding: 1rem;
}

.poll-data {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.poll-header {
  background-color: #aaa;
  padding: 0.5rem;
  color: #fff;
  margin-bottom: 1rem;
  border-bottom: 2px solid #02733e;
}
.poll-avatar {
  width: 150px;
  border-right: 2px solid #ddd;
  padding-right: 1rem;
}

.poll-result h3 {
  color: #02733e;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.poll-one {
  border-bottom: 1px solid #ddd;
  margin-bottom: 1rem;
}
.poll-one p,
.poll-two p {
  font-weight: bold;
  margin-bottom: 1rem;
}

.poll-votes {
  color: #fff;
  font-weight: bold;
  background: #f29f05;
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
  margin: 1rem 0;
  font-size: 0.9rem;
}

.your-vote {
  font-size: 0.7rem;
  background: #02733e;
  color: #fff;
  display: inline-block;
  padding: 7px;
  border-radius: 50%;
  margin: 1rem;
}

.poll-option {
  margin: 1rem 0;
  display: flex;
  align-items: center;
}

.poll-option label {
  font-weight: bold;
  color: #02733e;
}
.poll-option input {
  margin-right: 0.5rem;
}

.poll-btn {
  padding: 5px 20px;
  font-weight: bold;
  color: #fff;
  background: #02733e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.post-poll {
  width: 600px;
  margin: 1rem auto;
  text-align: center;
  border: 1px solid #999;
}

.post-poll h2 {
  background-color: #777;
  color: #fff;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.new-poll h3 {
  color: #02733e;
  margin: 1rem;
  text-align: left;
}

.new-poll input {
  width: 80%;
  display: inline-block;
  height: 25px;
  padding: 5px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #02733e;
  color: #777;
  font-weight: bold;
  font-size: 1rem;
}

.new-poll button {
  display: block;
  margin: 1rem auto;
  width: 30%;
  font-size: 1.2rem;
  background-color: #02733e;
  color: #fff;
  border: none;
  padding: 5px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.new-poll h4 {
  color: #02733e;
}

.leaderboard-user {
  width: 700px;
  margin: 2rem auto;
  border: 1px solid #ddd;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.leaderboard-user .user-avatar {
  width: 150px;
  border-right: 1px solid #ddd;
}

.user-data h2 {
  color: #02733e;
  margin: 1rem 0;
}

.user-data p {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.user-data p span {
  margin-right: 10px;
}

.leaderboard-score {
  border: 1px solid #ddd;
}
.leaderboard-score h2 {
  background-color: #aaa;
  font-size: 1.2rem;
  padding: 12px;
  color: #fff;
}

.leaderboard-score p {
  font-weight: bold;
  text-align: center;
  padding: 16px;
}

.leaderboard-score p span {
  background-color: #02733e;
  color: #fff;
  padding: 8px;
  border-radius: 5px;
}
